{% load static %}
<html lang="en">
  <head>
    {% block title %}
    <title>Event Awesome</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {% block head %} {% endblock %}

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div>
      <div>
        {% block sidebar %}
        <div class="d-flex bg-secondary">
          <ul class="col-md-6 nav justify-content-center text-white">
            <li class="nav-item">
              <a class="nav-link text-white" href="/event">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="">Events</a>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <ul class="col-md-6 nav justify-content-center text-white">
            <li class="nav-item">
              <a class="nav-link text-white" href="/">{{ user.username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/event/cart">
                <span>{{ user.tickets.count }}</span
                ><i class="fas fa-shopping-cart"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/event/logout">Logout</a>
            </li>
          </ul>
          {% else %}
          <ul class="col-md-6 nav justify-content-center text-white">
            <li class="nav-item">
              <a class="nav-link text-white" href="/event/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/event/register">Register</a>
            </li>
          </ul>
          {% endif %}
        </div>
        {% endblock %}
        <div>{% block content %}{% endblock %}</div>
      </div>
    </div>
    {% block scripts %} {% endblock scripts %}
    <script src="https://kit.fontawesome.com/4b7ef894a6.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
